.navbar-nav {
  min-height: 100px;
  background: #eb910a;
  position: relative;
  text-align:center;
  font-weight: bold;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 30px;

  }